/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

#preloader{
    background: #0e111f url(src/img/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.navscrollable {
  overflow-y: scroll; /* add vertical scroll bar */
  overflow-x: hidden; /* hides x scroll */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  height: 600px; /* set height of the scrollable area */
}
.navscrollable::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.sidebar.open .toggleColor{
  margin-left: 6px;
}

.sidebar.open .tleft {
  float: left;
  margin-top: -10px;
  margin-left: -5px;
}
.sidebar.open .tmiddle {
  float: middle;
  
}
.sidebar.open .tright {
  float: right;
  margin: -40px;
  margin-right: 35px;
}

.sidebar.open #toggle {
  margin-left: -20px;
  display: flex;
  position: relative;
  width: 90px;
  height: 30px;
  border-radius: 30px;
  background: #ffffff;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(243, 240, 240, 0.1),
              inset 0 8px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.1);
}
.sidebar #toggle {
  margin: auto;
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  transition: 0.5s;
  cursor: pointer;
  
}
.sidebar #toggle.active{
  background-color: #252d55;
}
.sidebar.open #toggle .indicator{
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 30px;
  transform: scale(0.9);
  box-shadow: inset 0 8px 40px rgba(59, 59, 59, 0.5),
              inset 0 4px 4px rgba(255,255,255,0.2),
              inset 0 -4px 4px rgba(255,255,255,0.2);
  transition: 0.5s;
}
.sidebar.open #toggle.active .indicator{
  left: 40px;
}

.sidebar #toggle .indicator i{
  position: absolute;
  top: 0;
  left: 30;
  width: 0px;
  height: 0px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 30px;
  transform: scale(0.9);
  box-shadow: inset 0 8px 40px rgba(75, 73, 73, 0.5),
              inset 0 4px 4px rgba(255,255,255,0.2),
              inset 0 -4px 4px rgba(255,255,255,0.2);
  transition: 0.5s;
}
.sidebar #toggle.active .indicator{
  left: 0px;
}

/* sidebar styling light */
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #d8cfcf;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name #dimg{
  display: none;
}
.sidebar .logo-details .logo_name #wimg{
  display: none;
}
.sidebar.open .logo-details .logo_name #dimg{
  display: none;
}
.sidebar.open .logo-details .logo_name #wimg{
  display: block;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #111;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #111;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #d8cfcf;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #d8cfcf;
  color: #111;
}
.sidebar.open .bx-search:hover{
  background: #d8cfcf;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #d8cfcf;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #d8cfcf;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #111;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #d8cfcf;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #d8cfcf;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #111;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #copyright{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #d8cfcf;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #copyright{
  width: 50px;
  background: none;
}
/* sidebar styling dark */
.sidebar.active{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.active.open{
  width: 250px;
}
.sidebar.active .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar.active .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.active .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.active .logo-details .logo_name #dimg{
  display: none;
}
.sidebar.active .logo-details .logo_name #wimg{
  display: none;
}
.sidebar.active.open .logo-details .logo_name #dimg{
  display: block;
}
.sidebar.active.open .logo-details .logo_name #wimg{
  display: none;
}
.sidebar.active.open .logo-details .icon,
.sidebar.active.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar.active .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.active.open .logo-details #btn{
  text-align: right;
}
.sidebar.active i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar.active .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar.active li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar.active li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar.active li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.active.open li .tooltip{
  display: none;
}
.sidebar.active input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.active.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar.active .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.active.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar.active .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar.active li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar.active li a:hover{
  background: #FFF;
}
.sidebar.active li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.active.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar.active li a:hover .links_name,
.sidebar.active li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar.active li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar.active li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.active.open li.profile{
  width: 250px;
}
.sidebar.active li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar.active li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar.active li.profile .name,
.sidebar.active li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar.active li.profile .job{
  font-size: 12px;
}
.sidebar.active .profile #copyright{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.active.open .profile #copyright{
  width: 50px;
  background: none;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}


@media (max-width: 659px) {
  .navscrollable {
    height: 1000px; /* set height of the scrollable area */
  }
}
@media (max-height: 630px) {
  .navscrollable {
    height: 440px; /* set height of the scrollable area */
  }
}
@media (max-height: 600px) {
  .navscrollable {
    height: 490px; /* set height of the scrollable area */
  }
}
@media (max-height: 570px) {
  .navscrollable {
    height: 400px; /* set height of the scrollable area */
  }
}
@media (max-height: 550px) {
  .navscrollable {
    height: 400px; /* set height of the scrollable area */
  }
}
@media (max-height: 500px) {
  .navscrollable {
    height: 370px; /* set height of the scrollable area */
  }
}
@media (max-height: 475px) {
  .navscrollable {
    height: 300px; /* set height of the scrollable area */
  }
}
@media (max-height: 450px) {
  .sidebar.open #toggle {
    margin-left: -20px;
  }
  .navscrollable {
    height: 300px; /* set height of the scrollable area */
  }
}
@media (max-height: 430px) {
  .sidebar.open #toggle {
    margin-left: 0px;
  }
  .navscrollable {
    height: 300px; /* set height of the scrollable area */
  }
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
@media (max-height: 384px) {
  .navscrollable {
    height: 240px; /* set height of the scrollable area */
  }
}
@media (max-height: 340px) {
  .navscrollable {
    height: 150px; /* set height of the scrollable area */
  }
}