*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#preloader{
    background: #0e111f url(src/img/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/*
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(src/img/background.jpeg);
    background-color: #0e111f;
    background-size: cover;
    background-position: center;
}
*/

.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #181e2e;
    color: white;
}

.logo{
    padding-left: 90px;
    width: 120px;
    flex-basis: 5%;
    cursor: pointer;
}

.navbar-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar-links ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar-links ul li::after{
    content: url();
    height: 2px;
    width: 0;
    background: #707070;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar-links ul li:hover::after{
    width: 100%;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #D3D3D3;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span{
    background: #707070;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

.toggle-button {
    position: absolute;
    top: 3.5rem;
    right: 2.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 24px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .logo {
        padding-left: 12%;
    }

    .navbar {
        flex-direction: column;
        padding-bottom: 20px;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        padding-bottom: 5px;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        height: 100%;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links ul li{
        list-style: none;
        display: inline-block;
        position: relative;
    }
    .navbar-links ul li a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: large;
        line-height: 1.50;
    }
    
    .navbar-links ul li::after{
        content: url();
        height: 15px;
        width: 0;
        background: #707070;
        opacity: 30%;
        position: absolute;
        left: 0;
        bottom: 7px;
        transition: 0.5s;
    }
    .navbar-links ul li:hover::after{
        width: 100%;
    }
}